<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createCompra">Create new Compra</label>
                <label ng-if="edit" id="editCompra">Edit Compra</label></div>
            <div class="panel-body">
                <form ng-submit="createCompra()" name="compra">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="compraId" class="col-sm-2">Id:</label>
                            <input id="compraId" required ng-model="compraId" class="col-sm-6"/>
                        </div>
                    </div>
                  
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="compraPagoConpuntos" class="col-sm-2">Pago con Puntos:</label>
                            <textarea id="compraPagoConpuntos" required ng-model="compraPagoConpuntos" class="col-sm-6"></textarea>
                        </div>
                    </div>
                

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!compra.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    
                     <button class="btn btn-info" onclick="window.history.back()"> Cancel</button>
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                             
                            <input ng-show="compra.$valid" type="submit" value="Save" class="btn btn-success"/>
                          
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


