<div class="container">      
    <div class="card"></div> 
    <div class="card">               
        <h1 class="title">Regístrate</h1>
        <form ng-submit="createCliente()" name="cliente">
            <div class="input-container">
                <input id="clienteId" pattern="[a-zA-Z0-9-]+" title=" El usuario solo puede contener letras y números, sin espacios." required ng-model="usuario"/>
                <label for="clienteId" >Usuario</label>
                <div class="bar"></div>
            </div>

            <div class="input-container">
                <input id="clienteContrasena" required type="password"  ng-model="contrasena"/>
                <label for="clienteContrasena">Contraseña</label>                
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input id="repetirContrasena" required type="password"  ng-model="repetirContrasena" data-match="clienteContrasena"/>
                <label for="repetirContrasena">Repetir contraseña</label>
                <div class="bar"></div>
            </div> 
            <div class="input-container alertError" ng-if="contrasena !== repetirContrasena">
                <span> <strong>!Cuidado!</strong><br>Las contraseñas no coinciden</span>
            </div> 
            <div ng-if="hayErrorCreando" class="input-container alertError">
                <span><strong>¡Ups!</strong><br>{{errortxt}}</span>
            </div>

            <div class="button-container">
                <button ng-click="createCliente()" ><span>Crear</span></button>
            </div>
        </form>

    </div>
</div> 



