<br>
<br>
<div class="container-fluid">
    <div class="row">
                <div class="col-md-3">
                    <div  class="vertical-menu">
                        <a ui-sref='restauranteAdministradorDetail({restauranteNit:"{{actual}}"})'>Información</a>
                        <a ui-sref='restaurantesSucursales({restauranteNit:"{{actual}}"})'>Sucursales</a>
                        <a href="#">Comentarios</a>
                        <a ui-sref='restaurantesProductos({restauranteNit:"{{actual}}"})'>Productos</a>                        
                    </div>
                </div>
                <div ui-view ="infoRes" class="col-md-8">
                    <dl> 
                        
                       <tr ng-repeat="restaurante in elementosRes"> 
                        <dt><h3> <b>Restaurante: </b>{{restaurante.nombre}} </h3></dt>
                        <dt><h3> <b>Nit: </b>{{actual}} </h3></dt>
                        <dt><h3> <b>Tipo de Comida: </b>{{restaurante.tipoComida}} </h3></dt>
                  </tr>
                    <a ng-if="!edit" class="btn btn-default" ui-sref="restaurantesUpdate({nitRestaurante:actual.nit})"><p class="glyphicon glyphicon-pencil"></p></a>
                    <a ng-if="!edit" class="btn btn-danger" ui-sref="restaurantesDelete({nitRestaurante:actual.nit})"><p class="glyphicon glyphicon-trash"></p></a>                   
                </div>
        </div>
</div>
