
<div class="container-fluid">
    <br>  
    <br>
    
     
    <div class="col-md-8">
        <button class="btn btn-primary btnRestaurante" ui-sref='restaurantePruebaNew'>Agregar Restaurante</button>
        
    </div> 
   
    <div class="col-md-8">        
        <div class="alert alert-info" ng-if='elementosRes.length === 0'>
            <strong>!Atención!</strong> Actualmente no hay restaurantes registrados para este administrador.
        </div>
        <table class="table table-hover" ng-if='elementosRes.length !== 0'>
            <thead>
                <tr>
                    <th>NIT</th> 
                    <th>Nombre</th> 
                    <th>Tipo de comida</th>  
                </tr>
            </thead>    

            <tbody>
                <tr ng-repeat="restaurante in elementosRes">
                    <td id="{{$index}}-name"> {{restaurante.nit}}</td>
                    <td id="{{$index}}-nombre"> {{restaurante.nombre}}</td>
                    <td id="{{$index}}-mbasico">{{restaurante.tipoComida}}</td>
                                       
                    <td><a class="btn btn-default" ui-sref='restauranteAdministradorUpdate({restauranteNit:"{{restaurante.nit}}"})'><p class="glyphicon glyphicon-pencil"></p></a>
                    <a class="btn btn-default" ui-sref='restauranteAdministradorDelete({restauranteNit:"{{restaurante.nit}}"})'><p class="glyphicon glyphicon-trash"></p></a></td>
                    <td><a class="btn btn-default" ui-sref='restauranteAdministradorDetail({restauranteNit:"{{restaurante.nit}}"})'>Detalles</a></td>
                </tr>
            </tbody>
        </table>
        
                  
    </div>
</div>