<div class='container-fluid'>
    <div ng-if='!isParametrized'>
        <h2>Mostrar comentarios para el restaurante: </h2>
        <select ng-model='restauranteActualStr' ng-change="restauranteActual(restauranteActualStr)">
            <option ng-repeat="rest in restaurantes" value='{{rest.nit}}'>{{rest.nombre}}</option>            
        </select>

        <img class='restauranteComentarioImg' ng-src='{{objetoRestaurante.imagen}}'>
    </div>
    <hr>
    <div class='contenedorComentario'>
        <div ng-class='"unComentario-" + ({{comentario.id}}%2)' ng-repeat="comentario in comentarios" id='{{comentario.id}}'>
            <div ng-class='asignarEstrellasCSS(comentario.calificacion)'></div>
            
            <div ng-style="{'background' : 'url({{comentario.cliente.imagen}})', 'background-repeat': 'no-repeat', 'background-size' : '100% 100%', 'height' : '50px', 'width' : '50px'}">
                    <b style='position: relative; top:100%;'>{{comentario.cliente.nombre}}</b><br>
            </div>
            <div class='comentarioDelComentario'>{{comentario.comentario}}</div>
        </div>
    </div>
</div>