<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Fecha</th>  
                    <th>Valor</th> 
                </tr>
            </thead>
            <label ng-if='elementosRegarga.length===0'>No hay recargas</label>
            <tbody>
                <tr ng-repeat="recarga in elementosRegarga">
                    <td id="{{$index}}-name"> {{recarga.id}}</td>
                    <td id="{{$index}}-fecha">{{recarga.fecha}}</td>
                    <td id="{{$index}}-valor">{{recarga.valor}}</td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>