<div class="container-fluid">
    <br>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-default" ui-sref="clienteCreate">  <p class="glyphicon glyphicon-plus"></p>  Agregar Recarga  </a>
    </div>
    <br>
    <div class="col-md-3"></div>    
    <div class="col-md-6">        
        <div class="alert alert-info" ng-if='elementosRegarga.length === 0'>
            <strong>!Ey!</strong> Actualmente no hay recargas registradas para este cliente.
        </div>
        <table class="table table-hover" ng-if='elementosRegarga.length !== 0'>
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Fecha</th>  
                    <th>Valor</th> 
                    <th>Tarjeta De Crédito </th>
                    <th>Tarjeta Puntos </th>
                </tr>
            </thead>    

            <tbody>
                <tr ng-repeat="recarga in elementosRegarga">
                    <td id="{{$index}}-name"> {{recarga.id}}</td>
                    <td id="{{$index}}-fecha">{{recarga.fecha}}</td>
                    <td id="{{$index}}-valor">{{recarga.valor}}</td>
                    <td id="{{$index}}-tc">{{recarga.tarjetaDeCredito.id}}</td>
                    <td id="{{$index}}-tp">{{recarga.tarjetaPuntos.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>