 
    <div class="col-md-8">        
        <div class="alert alert-info" ng-if='eventos.length === 0'>
            <strong>!Atención!</strong> Actualmente no hay restaurantes registrados para este administrador.
        </div>
        <table class="table table-hover" ng-if='eventos.length !== 0'>
            <thead>
                <tr>
                   <th>Nombre</th> 
                    <th>Descripción</th> 
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                </tr>
            </thead>    

            <tbody>
                 <tr ng-repeat="event in eventos">
                    <td id="{{$index}}-name"> {{event.nombre}}</td>
                    <td id="{{$index}}-nombre"> {{event.descripcion}}</td>
                    <td id="{{$index}}-mbasico">{{event.fechaInicio}}</td>
                    <td id="{{$index}}-mbasico">{{event.fechaFin}}</td>
                    
                     
                </tr>
            </tbody>
        </table>
        <br>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="eventosPost()"><p class="glyphicon glyphicon-plus"></p> Nuevo Evento</a>
                    </div>

                </div>
                  
    </div>
</div>

