#contenedor {
  overflor: hidden;
}

#columna1 {
  float:left;
}


#center{
  padding: 1em 3em;
  margin: 1em 50%;
}

#listaNav {
    font-size:13px;
}

#alaDerecha {
     float:right;
     display:inline;
     padding-left:3px;
     padding-right:3px;
}

#listaNav li {
     display:inline;
     padding-left:3px;
     padding-right:3px;
}
.separador {
    color:gray;
}

.alaDerecha {
    float:right;
}

.cleaner {
    display: inline; 
}
.cleaner:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.btnCliente{
   margin:5px;
   width: 200px; 
}

.btnIniciar{
    margin:5px;
    width: 200px; 
}


.panelBtn{
	float:left;
}

.btnsDerecha{
	clear:both;
}

.panelInformacion{
	float:left;
        position:relative;
   	left:50px; 
}

.imagenCliente{
    width: 200px;
    height: 200px;
}
#contenedor {
  overflow: hidden;
  _height:  1%;
}

#fondoMain{
   background-color: #F2EDD0
}

.btnRestaurante{
   margin:5px;
   width: 150px; 
}

img{
  padding: 4px;
  height: 200px;
  width: 200px;
}

.bannerInicial{
  padding: 4px;
  width: 100%;
  height: 100%
}
.divInicial{
   height: 100%
}