#contenedor {
    overflor: hidden;
}

#columna1 {
    float:left;
}


#center{
    padding: 1em 3em;
    margin: 1em 50%;
}

#listaNav {
    font-size:13px;
}

#alaDerecha {
    float:right;
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

#listaNav li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
.separador {
    color:gray;
}

.alaDerecha {
    float:right;
}

.cleaner {
    display: inline; 
}
.cleaner:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.btnCliente{
    margin:5px;
    width: 200px; 
}

.btnIniciar{
    margin:5px;
    width: 200px; 
    color:#B2D63C;

}


.panelBtn{
    float:left;
}

.btnsDerecha{
    clear:both;
}

.panelInformacion{
    float:left;
    position:relative;
    left:50px; 
}

.imagenCliente{
    width: 200px;
    height: 200px;
}
#contenedor {
    overflow: hidden;
    _height:  1%;
}

#fondoMain{
    background-color: #F2EDD0
}


.btnRestaurante{
    margin:5px;
    width: 150px; 
}

img{
    padding: 4px;
    height: 200px;
    width: 200px;
}

.bannerInicial{
    width: 100%;
    height: 100%;
}
.divInicial{
    height: 100%
}


body {
    background-color: whitesmoke;
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Scroll To Bottom */
#codepen, #portfolio {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #363636;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #ffffff;
    text-align: center;
}
#codepen i, #portfolio i {
    line-height: 56px;
}
#codepen:hover, #portfolio:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(25, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
    bottom: 96px;
    right: 36px;
    background: #B2D63C;
    width: 44px;
    height: 44px;
    -webkit-animation: buttonFadeInUp 1s ease;
    animation: buttonFadeInUp 1s ease;
}
#portfolio i {
    line-height: 44px;
}

/* Container */
.container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    max-width: 460px;
    width: 100%;
}
.container.active .card:first-child {
    background: #f2f2f2;
    margin: 0 15px;
}
.container.active .card:nth-child(2) {
    background: #fafafa;
    margin: 0 10px;
}
.container.active .card.alt {
    top: 20px;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 60px 0 40px;
    overflow: hidden;
}
.container.active .card.alt .toggle {
    position: absolute;
    top: 40px;
    right: -70px;
    box-shadow: none;
    -webkit-transform: scale(10);
    transform: scale(10);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.container.active .card.alt .toggle:before {
    content: '';
}
.container.active .card.alt .title,
.container.active .card.alt .input-container,
.container.active .card.alt .button-container {
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.container.active .card.alt .title {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.container.active .card.alt .input-container {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.container.active .card.alt .input-container:nth-child(2) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.container.active .card.alt .input-container:nth-child(3) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}
.container.active .card.alt .button-container {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

/* Card */
.card {
    position: relative;
    background: #F2EDD0;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* Title */
    /* Inputs */
    /* Button */
    /* Footer */
    /* Alt Card */
}
.card:first-child {
    background: #F2EDD0;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}
.card .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #B2D63C;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #B2D63C;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}
.listaLog{
    position: relative;
    margin: 0 60px 30px;
    position: relative;
    background: none;
    border: 0;
    color: rgb(117,117,117);
    font-size: 24px;
}
.selectLog{
    width: 210px;
}
.card .input-container {   
    position: relative;
    margin: 0 60px 50px;
}
.card .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;
    font-size: 24px;
    font-weight: 0;
}
.card .input-container input:focus ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
}
.card .input-container input:valid ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
    content: '';
    position: absolute;
    background: #B2D63C;
    width: 0;
    height: 2px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
.card .input-container .bar:before {
    left: 50%;
}
.card .input-container .bar:after {
    right: 50%;
}
.card .button-container {
    margin: 0 60px;
    text-align: center;
}
.card .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #B2D63C;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.card .button-container button span {
    position: relative;
    z-index: 1;
    color: #B2D63C;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.card .button-container button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #36A8A7;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
    border-color: #36A8A7;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
    color: #36A8A7;
}
.card .button-container button:active span, .card .button-container button:focus span {
    color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
}
.card .footer {
    margin: 40px 0 0;
    color: #B2D63C;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.card .footer a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.card .footer a:hover {
    color: #bababa;
}
.card.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* Toggle */
    /* Title */
    /* Input */
    /* Button */
}
.card.alt .toggle {
    position: relative;
    background: #B2D63C;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-size: 58px;
    line-height: 140px;
    text-align: center;
    cursor: pointer;
}
.card.alt .toggle:before {
    content: '\f040';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
}
.card.alt .title {
    position: relative;
    border-color: #ffffff;
    color: #ffffff;
}
.card.alt .title .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 60px;
    display: inline;
    color: #ffffff;
    font-size: 58px;
    font-weight: 400;
}
.card.alt .title .close:before {
    content: '\00d7';
}
.card.alt .input-container input {
    color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
    color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
    background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
    color: #ffffff;
}
.card.alt .input-container label {
    color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
    background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
    width: 100%;
    background: #ffffff;
    border-color: #ffffff;
}
.card.alt .button-container button span {
    color: #B2D63C;
}
.card.alt .button-container button:hover {
    background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
    display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}
@keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}


nav ul{
    list-style-type:none;
    padding:0;
}
nav li{
    display:inline;
    float:left;
}
nav a:link, nav a:visited{
    color:#585858;
    display:block;
    width:160px;
    text-align:center;
    padding:10px 0;
    font-weight:bold;
    text-decoration:none;
}
nav a:hover{
    background-color:#B2D63C;
    font-weight:bold;
    text-decoration:none;
}

.navbar-index{
    background-color:whitesmoke;
}

footer {
    position:relative;
    bottom:0;
    margin:40px;        
    text-align: center; 
    font-weight:bold;    
}

footer a:hover, footer a:link,footer a:visited {
    color: whitesmoke;
    text-decoration:none;
}

.barcolor{
    background-color: #88A61F;
}


.alertError, .alert-info, .alert-danger{
    padding: 20px!important;
    background-color: #B2D63C!important; 
    border-color: #B2D63C;
    color: #585858!important;
    margin-bottom: 15px!important;
    text-align: center;
}

.alert-warning{
    padding: 20px!important;
    background-color: #36A8A7!important; 
    border-color: #36A8A7;
    color: whitesmoke!important;
    margin-bottom: 15px!important;
    text-align: center;
}

#logo{
    margin: 10px;
    float:left;
    height: 80px;
    width: 80px;
}

#tituloBanner{
    right: -60px;
    color: #FFFFFF;
    text-decoration:none;
    font-weight:bold;
}

.cerarSesion{
    float: right;
    outline: 0;
    background: 0;
    width: 160px;
    border: 2px solid #e3e3e3;    
    font-size: 15px;    
    overflow: hidden;
    margin-right: 60px; 
    margin-left: 60px;
    padding-right: 10px;
}

/*CSS para el menu vertical*/

.vertical-menu {
    width: 200px; /* Set a width if you like */
    display: block;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu button{
    display: block; 
    text-decoration: none;
    width: inherit;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/*CSS para el video del index*/

#videoDiv {width: 100%; height: auto; position: relative;}
#videoBlock {width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center;}
#videoMessage {width: 100%; height:100%; position: absolute; top: 0; left: 0; display: flex;  justify-content: center; align-items: center;}
#videoMessage *{padding:0.4em; margin:0}
#videoMessage {text-shadow: 2px 2px 2px #000000; color:white;z-index:99; vertical-align: middle}
#videoMessage h1{font-size: 90px;color:#ffffff;text-align:center; vertical-align: middle}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    width: auto; height: auto; position: relative; display: flex; justify-content: center;align-items: center;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    width: 100%;  
    height: 500px;
    background-color: #777;
}
.carousel-inner {
    display: flex; justify-content: center;align-items: center;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 500px;
}
.carousel-inner > .item > a > img {
    width: 70%;
}


/* CSS para los botones*/

.BotonesBanner{
    font-size: 2.0rem;
    padding: 1rem;
    display: inline-block;
    background-color: #F2EDD0;
    border: 2px solid #525155;    
    color: #525155;
    font-weight: bold;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.BotonesBanner:hover {
    background-color: #ffffff;

    color: #525155;
    border-color: #d7df01;

}

.BotonSideNav {
    margin: 5px;
    font-size: 2.0rem;
    padding: 0.2rem;
    display: inline-block;
    background-color: #006d8f;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.BotonSideNav:hover {
    background-color: #eee;
    color: #B2D63C;
    border-color: #006d8f;
}

/*CSS para los thumbnails de evento*/

.eventoBox{
    height: 200px;
    width: 200px;
    border:1px solid black;
    display:inline-block;
    transition: width 1s, height 1s, border 0.4s;
    position:relative;
    text-align: center;
    align-items: center;
    background-size:cover;
    background-position:center;
}

.eventoBox:hover{
}

.eventoInner{
    border:2px solid rgb(194, 194, 194);
    position:relative;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: 0;
    color:white;
    font-size:xx-large;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    z-index:10;
}
.eventoBox:hover > .eventoInner{
    opacity: 1;
    display:inline-block;
    border: 10px solid rgb(51, 51, 51);
}
.eventoColor{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
    transition: opacity 0.4s;
}
.eventoBox:hover > .eventoColor{
    background-color:black;
    opacity:0.5;
    display:inline-block;
}


/* @import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css')*/


.funkyradio div {
    clear: both;
    overflow: hidden;
}
.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before{
    color: #fff;
    background-color:  #36ABA7;
}

.imgPerfil img{
    border: 5px solid #36ABA7;
    border-left: 15px solid #36ABA7;
    border-radius: 17px 17px 17px 17px;
}

.divUpdate{
    border: 4px solid #36ABA7;
    border-radius: 5px 5px 5px 5px;
}

.eventoDiv{
    text-align: center;
}

/*imágenes estrellas*/

.estrellasComentario0{
    background: url('../media/puntuaciones/0.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario1{
    background: url('../media/puntuaciones/1.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario2{
    background: url('../media/puntuaciones/2.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario3{
    background: url('../media/puntuaciones/3.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario4{
    background: url('../media/puntuaciones/4.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario5{
    background: url('../media/puntuaciones/5.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario6{
    background: url('../media/puntuaciones/6.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario7{
    background: url('../media/puntuaciones/7.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario8{
    background: url('../media/puntuaciones/8.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.estrellasComentario9{
    background: url('../media/puntuaciones/9.png') no-repeat;
    height: 20px;
}

.estrellasComentario10{
    background: url('../media/puntuaciones/10.png') no-repeat;
    background-size: contain;
    height: 20px;
}

.comentarioDelComentario{
    position: relative;
    left: 65px;
    top: -40px;
    border-left: 2px solid #132c38;
    width: 60%;
}

.fotoPerfilCliente > b{
    top: 100%;
    left:0;
}

.unComentario-0{
    display: block;
    border-left: 5px solid rgb(28, 177, 177);
    background-color: #6dd1ff;
    width: 70%;
}

.unComentario-1{
    display: block;
    border-left: 5px solid rgb(28, 177, 177);
    background-color: #64c0e7;
    width: 70%;
}
.eventoDiv{
    text-align: center;
}

.tamanoBanner{
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
    box-sizing: border-box;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.footerPag {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #88A61F;
    text-align: center;
}

.panel-primary{
    border-color:  #36A8A7;
}
.panel-heading {
    background-color: #36A8A7!important
}
.btn-danger, .btn-info, .btn-primary{
    background-color: #36A8A7!important;
    border-color:  #36A8A7;
}