<div ng-if="isAuthenticated()" class="panel panel-default"> 
    <div class="panel-body">
        <form name="clienteUpdate">
            <div class="row">

                <br>
                <div class="col-md-3">
                    <div ng-if="!edit" class="vertical-menu">
                        <button class='BotonSideNav' ui-sref="administradorDetail">Información</button>
                        <button class='BotonSideNav' ui-sref="restauranteAdministradorList({administraorUsuario: elementoAdministrador.usuario})">Mis Restaurantes</button>
                        <button class='BotonSideNav' href="#">Mis Sucursales</button>
                        <button class='BotonSideNav' href="#">Trajetas de Puntos</button>
                        <button class='BotonSideNav' href="#">Link 4</button>
                    </div>
                </div>       
                <div class="col-md-3">
                    <div class="thumb">
                        <img onError="this.src ='http://estaticos.elmundo.es/social/static/img/avatars/xlarge_default.png'" class="img-responsive" ng-src="{{elementoCliente.imagen}}"/>
                    </div>

                    <div class="thumb" ng-if="edit" >
                        <input id="clienteImagenU" ng-model="elementoCliente.imagen" class="col-sm-8" value="{{elementoCliente.imagen}}"/>
                    </div>
                </div>            
                <div class="col-md-3">
                    <dl> 
                        <dt> Usuario</dt>
                        <dd >{{elementoCliente.usuario}} <hr> </dd>                    

                        <dt> Nombre </dt>
                        <dd ng-if="!edit">{{elementoCliente.nombre}} <hr></dd>
                        <dd ng-if="edit"><input value="" id="clienteNombreU" ng-model="elementoCliente.nombre" class="col-sm-8" /><br><hr> </dd>


                        <dt>Contraseña</dt>
                        <dd ng-if="!edit">{{elementoCliente.contrasena}}</dd> 
                        <dd ng-if="edit"><input type=password id="clienteContrasenaU" required ng-model="elementoCliente.contrasena" class="col-sm-8" /> <br><br></dd>

                        <dt ng-if="edit">Repetir contraseña</dt>
                        <dd ng-if="edit"><input type=password id="clienteRepetirContrasenaU" required ng-model="elementoCliente.repetirContrasenaU" class="col-sm-8"/></dd>  

                    </dl>  
                    <br>                   
                    <div class="form-group row">
                        <div class="form-group col-sm-14" ng-if="edit && (((elementoCliente.contrasena) !== elementoCliente.repetirContrasenaU) || !clienteUpdate.$valid)">
                            <div class="alert alert-danger" >
                                <strong>!Cuidado!</strong><p>Las contraseñas no coinciden</p>
                            </div> 
                        </div> 
                    </div>                    
                    <a ng-if="!edit" class="btn btn-default" ui-sref="clienteUpdate({clienteUsuario: elementoCliente.usuario})"><p class="glyphicon glyphicon-pencil"></p></a>
                    <a ng-if="!edit" class="btn btn-default" ui-sref="clienteDelete({clienteUsuario: elementoCliente.usuario})"><p class="glyphicon glyphicon-trash"></p></a>
                    <a ng-if="!edit" class="btn btn-default" ui-sref="clientesList"><p> Otros clientes</p></a>

                    <a ng-if="edit" class="btn btn-default" ui-sref="clienteDetail({clienteUsuario: elementoCliente.usuario})">Cancelar</a>
                    <a ng-if="edit && !((elementoCliente.contrasena) !== elementoCliente.repetirContrasenaU) && clienteUpdate.$valid" class="btn btn-default" ng-click="updateCliente()"><p class="glyphicon glyphicon-floppy-saved"></p></a>
                </div>
            </div>
            <br>

            <ul class="nav nav-tabs">
                <li ng-if="!edit" role="presentation" class="active"> <a ui-sref="recargasList({clienteUsuario: elementoCliente.usuario})">Recargas</a></li>
                <li ng-if="!edit" role="presentation" class="active"> <a ui-sref="tarjetasDeCreditoList({clienteUsuario: elementoCliente.usuario})">Tarjetas de Crédito</a></li>
                <li ng-if="!edit" role="presentation" class="active"> <a ui-sref="tarjetasPuntosClienteList({clienteUsuario: elementoCliente.usuario})">Tarjetas de Puntos</a></li>
            </ul> 
        </form>        
        <div ui-view="detailClienteView"></div>        
    </div>
</div>

<div class="container" ng-if="!isAuthenticated()">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="float-left display-3 mr-4">403 Forbidden</h1>
            <h4 >You do not have permission for this action.</h4>
            <p >Contact the administrator to obtain permission.</p>
        </div>
    </div>
</div>