<div class="container-fluid" >
    <br>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-default" ui-sref="clienteCreate">  <p class="glyphicon glyphicon-plus"></p>  Nuevo Cliente   </a>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2" ng-repeat="cliente in clientesLista" ng-if='cliente.usuario!=="Anonimo"'>
            <div class="thumbnail" >      
                <a ui-sref="clienteDetail({clienteUsuario: cliente.usuario})">
                    <img class="img-responsive imagenCliente" ng-src='{{cliente.imagen}}' alt="{{cliente.usuario}}"/>                  
                </a>
                <div class="caption text-center">
                    <p><i><b>Usuario:</b> </i>{{cliente.usuario}}</p>
                    
                    <a class="btn btn-default" ui-sref="clienteDetail({clienteUsuario: cliente.usuario})"><p class="glyphicon glyphicon-plus"></p></a>
                    <a class="btn btn-default" ui-sref="clienteUpdate({clienteUsuario: cliente.usuario})"><p class="glyphicon glyphicon-pencil"></p></a>
                    <a class="btn btn-default" ui-sref="productosCreate"><p class="glyphicon glyphicon-trash"></p></a>
                </div>
                
            </div>
        </div>
    </div>
</div>
