<div ng-if="isAuthenticated()" class="panel panel-default"> 
    <div class="panel-body">
    <div class="row">
        <div class="col-md-6"  >
            
            <dl>     
                <dt>{{currentCompra.id}}</dt>
                
                <hr>
                <dt>Sucursal</dt>
                <dd>{{currentCompra.sucursal.nombre}}</dd>
          
                <hr>
                <dt>Pago con puntos</dt>
                <dd>{{currentCompra.pagoConpuntos}}</dd>
                
                
                                                     
            </dl>
        </div>
        <div>
            <button ui-sref="clienteComprasProductos({clienteUsuario: elementoCliente.usuario, compraId: currentCompra.id})" type="button" class="btn btn-info btn-lg">Ver Productos</button>  
            <button ui-sref="clienteComprasList({clienteUsuario: elementoCliente.usuario})" type="button" class="btn btn-info btn-lg">Regresar</button>
        </div>
        
    </div>
        </div>
</div>
<div class="container" ng-if="!isAuthenticated()">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <CENTER>
            <h1 class="float-left display-3 mr-4">403 Acceso denegado</h1>
            <h4 >No tienes permisos para ver este contenido.</h4>
            <h4>Inicia sesión con otro usuario para ver este contenido</h4>
            <button class='BotonesBanner' ui-sref="login">Inicia Sesión</button>
            </CENTER>
        </div>
    </div>
</div>