<div class="container-fluid" >    
    <br>
    
    <div class="form-group col-md-6">
        <label for="administradorName" class="col-sm-4"><h4>Nombre de Administrador</h4></label>
                            <input id="restauranteName" required ng-model="adminName" class="col-sm-6"/>
                        </div>
   
    <br>
    <br>
    <div class="row">
          <br>
    <br>
        <div class="col-md-2" ng-repeat="administrador in administradoresLista" >
            <div class="thumbnail" ng-if="administrador.usuario==adminName" >      
                <a ui-sref="administradorDetail({administradorUsuario: administrador.usuario})">
                                      
                </a>
                <div class="caption text-center">
                    <p><i><b>USUARIO:</b> </i>{{administrador.usuario}}</p>
                    
                    <a class="btn btn-default" ui-sref="administradorDetail({administradorUsuario: administrador.usuario})"><p class="glyphicon glyphicon-th-list"></p></a>
                    <a class="btn btn-default" ui-sref="administradorUpdate({administradorUsuario: administrador.usuario})"><p class="glyphicon glyphicon-pencil"></p></a>
                    <a class="btn btn-danger btn-sm" ui-sref="administradorDelete({administradorUsuario: administrador.usuario})"><p class="glyphicon glyphicon-trash"></p></a>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
