<div class="panel panel-default"> 
    <div class="panel-body">

        <form name="administradorUpdate">
            <div class="row">
                <br>        
                          
               <div class="col-md-3">
                    <dl> 
                        <dt> Usuario</dt>
                        <dd >{{elementoAdministrador.usuario}} <hr> </dd>                    

                        <dt>Contraseña</dt>
                        <dd ng-if="!edit">{{elementoAdministrador.contrasena}}</dd> 
                        <dd ng-if="edit"><input type=password id="administradorContrasenaU" required ng-model="elementoAdministrador.contrasena" class="col-sm-8" /> <br><br></dd>

                        <dt ng-if="edit">Repetir contraseña</dt>
                        <dd ng-if="edit"><input type=password id="administradorRepetirContrasenaU" required ng-model="elementoAdministrador.repetirContrasenaU" class="col-sm-8"/></dd>  

                    </dl>  
                    <br>                   
                    <div class="form-group row">
                        <div class="form-group col-sm-14" ng-if="edit && (((elementoAdministrador.contrasena) !== elementoAdministrador.repetirContrasenaU) || !administradorUpdate.$valid)">
                            <div class="alert alert-danger" >
                                <strong>!Cuidado!</strong><p>Las contraseñas no coinciden</p>
                            </div> 
                        </div> 
                    </div>                    
                    <a ng-if="!edit" class="btn btn-default" ui-sref="administradorUpdate({administradorUsuario: elementoAdministrador.usuario})"><p class="glyphicon glyphicon-pencil"></p></a>
                    <a ng-if="!edit" class="btn btn-default" ui-sref="productosCreate"><p class="glyphicon glyphicon-trash"></p></a>
                    <a ng-if="!edit" class="btn btn-default" ui-sref="administradoresList"><p> Ver otros administradores </p></a>

                    <a ng-if="edit" class="btn btn-default" ui-sref="administradorDetail({administradorUsuario: elementoAdministrador.usuario})"><p class="glyphicon glyphicon-remove"></p></a>
                    <a ng-if="edit && !((elementoAdministrador.contrasena) !== elementoAdministrador.repetirContrasenaU) && administradorUpdate.$valid" class="btn btn-default" ng-click="updateAdministrador()"><p class="glyphicon glyphicon-floppy-saved"></p></a>
                </div>
            </div>
            <br>

            <ul class="nav nav-tabs">
                <li ng-if="!edit" role="presentation" class="active"> <a ui-sref="restauranteAdministradorList({administradorUsuario: elementoAdministrador.usuario})">Ver Restaurantes</a></li>
            </ul> 
        </form>
        
        <div ui-view="detailAdministradorView"></div>
        
    </div>
</div>