<div class="container-fluid">
    <br>
    <div class="form-group col-md-6">
        <label for="restauranteName" class="col-sm-4"><h4>Nombre de Restaurante</h4></label>
                            <input id="restauranteName" required ng-model="resName" class="col-sm-6"/>
                        </div>
       <div class="form-group col-md-6">
           <label for="restauranteName" class="col-sm-4"><h4>Tipo de Comida</h4></label>
                            <input id="restauranteName" required ng-model="resTipo" class="col-sm-6"/>
                        </div>
    
    <br>
    <br>
    <br>
    <br>
    
    
    <div class="col-md-2" ng-repeat="res in elements" >
            <div class="thumbnail" ng-if="res.tipoComida==resTipo" >      
                <a ui-sref="clienteDetail({clienteUsuario: res.usuario})">
                    <img class="img-responsive imagenCliente" ng-src='media/FielLogo.PNG' alt="res1"/>                  
                </a>
                <div class="caption text-center">
                    <p><i><H2></i><b>{{res.nombre}}</b></H2></p>
                    <p><i>Tipo de Comida: </i>{{res.tipoComida}}</p>
                    <p><i>NIT :</i>{{res.nit}}</p>
                    
                    <a class="btn btn-default" ui-sref='restaurantesDetail({restauranteNit:"{{res.nit}}"})'><p class="glyphicon glyphicon-th-list"></p></a>
                   
                </div>
                
            </div>
        </div>
    
    
    <div class="col-md-2" ng-repeat="res in elements" >
            <div class="thumbnail" ng-if="res.nombre==resName" >      
                <a ui-sref="clienteDetail({clienteUsuario: res.usuario})">
                    <img class="img-responsive imagenCliente" ng-src='media/FielLogo.PNG' alt="res1"/>                  
                </a>
                <div class="caption text-center">
                    <p><i><H2></i><b>{{res.nombre}}</b></H2></p>
                    <p><i>Tipo de Comida: </i>{{res.tipoComida}}</p>
                    <p><i>NIT :</i>{{res.nit}}</p>
                    
                    <a class="btn btn-default" ui-sref='restaurantesDetail({restauranteNit:"{{res.nit}}"})'><p class="glyphicon glyphicon-th-list"></p></a>
                   
                </div>
                
            </div>
        </div>
    
</div>
