<div class="container-fluid">
    
    <ul class="list-group" ng-repeat="elem in elements">
        <li class="list-group-item">
            
            <input id='{{elem.nit}}' type="checkbox" ng-model='collapse' style='display: none'/>
                        
             <h4> {{elem.nombre}} </h4>
             
             <label for='{{elem.nit}}' class="btn btn-primary" ng-show="!collapse">Más detalles</label> 
              
             <div ng-if='collapse'>
             
                 <b> NIT: </b> {{elem.nit}} </br>
                 <b>TIPO DE COMIDA:</b> {{elem.tipoComida}}
                 
                 <div id='{{elem.id + " mensaje"}}'></div>
                 
                <label for='{{elem.nit}}' class="btn btn-primary">Menos detalles</label>
            
            </div>
            
           
            
        </li>
    </ul>
</div>
