<div ng-if="isAuthenticated()" class="panel panel-default">
    <br>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6"  >

                <div class="col-md-3">



                    <dl>     

                        <dt><h4>{{currentProducto.nombre}}</dt>

                        <hr>
                        <dt><img class="img-responsive"  ng-src="{{currentProducto.imagen}}" /></dt>

                        <hr>
                        <dt>Restaurante</dt>
                        <dd>{{currentProducto.restaurante.nombre}}</dd>

                        <hr>
                        <dt>Valor en Dinero</dt>
                        <dd>{{currentProducto.valorDinero}}</dd>

                        <hr>
                        <dt>Valor en Puntos</dt>
                        <dd>{{currentProducto.valorPuntos}}</dd>

                    </dl>
                </div>
                <br>    
                <div>
                    <button ng-click="doTheBack()" type="button" class="btn btn-info btn-lg">Regresar</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container" ng-if="!isAuthenticated()">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <CENTER>
            <h1 class="float-left display-3 mr-4">403 Acceso denegado</h1>
            <h4 >No tienes permisos para ver este contenido.</h4>
            <h4>Inicia sesión con otro usuario para ver este contenido</h4>
            <button class='BotonesBanner' ui-sref="login">Inicia Sesión</button>
            </CENTER>
        </div>
    </div>
</div>