
<div class="container-fluid">
    <br>  
    <br>
    
    <label for="restauranteNit" class="col-sm-4">id:</label>
    <input id="restauranteNit" pattern="[a-zA-Z0-9-]+" title="Espacios no admitidos" required ng-model="res.id" class="col-sm-6"/>
    <br>
    <br>  
    <label for="restauranteNombre" class="col-sm-4">Pago con puntos:</label>
   
    <input id="restauranteNombre" pattern="[a-zA-Z0-9-]+" title="Espacios no admiti<dos" required ng-model="res.pagoPuntos" class="col-sm-6"/>
     <br>
     <br>  
    <label for="restauranteNombre" class="col-sm-4">Sucursal id:</label>
    <input id="restauranteTipoComida" pattern="[a-zA-Z0-9-]+" title="Espacios no admiti<dos" required ng-model="res.sucursalId" class="col-sm-6"/>
     <br>
     <br> 
     <label for="restauranteNombre" class="col-sm-4">Tarjeta id:</label>
    <input id="restauranteTipoComida" pattern="[a-zA-Z0-9-]+" title="Espacios no admiti<dos" required ng-model="res.tarjetaId" class="col-sm-6"/>
     <br>
     <br> 
     <label for="restauranteNombre" class="col-sm-4">usuario id:</label>
    <input id="restauranteTipoComida" pattern="[a-zA-Z0-9-]+" title="Espacios no admiti<dos" required ng-model="res.usuarioId" class="col-sm-6"/>
     <br>
     <br> 
     <label for="restauranteNombre" class="col-sm-4">productos:</label>
    <input id="restauranteTipoComida" pattern="[a-zA-Z0-9-]+" title="Espacios no admiti<dos" required ng-model="res.productos" class="col-sm-6"/>
     <br>
     <br> 
    <label for="crearNuevaTarjetaPuntos" class="btn btn-primary" ng-click="createCompra()" >Crear Compra</label>
</div>
