<div style="background: url('media/I1.jpg')">
<div  class="container">    
    <div class="card"></div>
    <div class="card">
        <h1 class="title">LOGIN</h1> 
        <div ng-if="hayError" class="input-container alertError">
            <span><strong>¡Ups!</strong><br>{{errortxt}}</span>
        </div>
        <form>            
            <div class="input-container">
                <input type="text" id="userPass" required="required" ng-model="data.usuario"/>
                <label for="#{label}">Usuario</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="loginPass" required="required" ng-model="data.password"/>                
                <label for="#{label}">Contraseña</label>
                <div class="bar"></div>
            </div>
            <div class="listaLog">
                Usuario:
                <select id="tipoUsuario"  name="singleSelect" ng-model="data.rol" required="required"  class="selectLog">
                    <option value=""></option>
                    <option value="administrador">Administrador</option>
                    <option value="cliente">Cliente</option>
                </select>
                <div class="bar"></div>
            </div>            
            <div class="button-container">
                <button ng-click="autenticar()" ><span>Ingresar</span></button>
            </div>
            <div class="footer"><a ui-sref="clienteCreate">¿No tienes una cuenta?</a></div>
        </form>
    </div>    
</div>
</div>